/* Estilo de la clase protada */

.Presentacion {
    position: absolute;
    background: linear-gradient(rgba(32, 236, 175, 0.438), rgba(230, 149, 28, 0.384)), url("../assets/LogoIPAZUD.jpg") left no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
    @media (orientation: portrait) {
        background-size: auto 100%;
    }
}

.contenedor {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10%;
}

.contenedor-titulo h1 {
    font-size: 50px;
    color: rgb(61, 49, 49);
    margin-bottom: 0;
}

.contenedor-titulo h2 {
    font-size: 20px;
    color: rgb(61, 49, 49);
    text-align: center;
    margin-bottom: 40;
}

.contenedor-titulo a {
    width: 155px;
    display: inline-block;
    background: #AC1717;
    font-size: 15px;
    color: #fff;
    margin-top: 5%;
    padding: 10px 20px;
    border-radius: 10px;
}

.contenedor-titulo .titulo {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
}

@media (max-width: 600px) {
    .contenedor-titulo {
        margin-top: 60%;
    }
    .contenedor-titulo h1 {
        font-size: 30px;
    }
    .contenedor-titulo h2 {
        font-size: 20px;
    }
    .contenedor-titulo a {
        width: 130px;
        font-size: 10px;
    }
}